<!DOCTYPE html>
<html>
<head>
    <title>Smart Trash AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>

<div class="box">
    <h2>Smart Trash AI</h2>

    <form action="/predict" method="POST" enctype="multipart/form-data" onsubmit="showLoading()">
        
        <input type="file" name="image" required>

        <br><br>

        <button type="submit">Predict</button>
    </form>

    <div id="loading" style="display:none; margin-top:10px;">
        ⏳ AI sedang memproses gambar...
    </div>
</div>

<script>
function showLoading() {
    document.getElementById("loading").style.display = "block";
}
</script>

</body>
</html>